button {
    background: green;
    background: linear-gradient(to top right, #CCFF77 0%, #006600 25%, #CCFFAA 100%);
    font-family: Arial;
    font-size: 16px; /* Размер шрифта */
    padding: 10px 20px; /* Поля вокруг текста */
    color: #ffffff; /* Цвет текста */
    /* Параметры рамки */
    border-radius: 20px; /* Радиус скругления */
}

/* Блок */
.ava {
    float: left;
    width: 20em;
    /*height: 15em;*/
    font-size: 10px;
    color: #428bca;
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    margin: 10px;
    padding: 5px;
    border: 1px solid #428bca;
    box-shadow: 0px 1px 1px 1px #bbb; /* смещение по горизонтали, смещение по вертикали, размытие, увеличение и цвет */
}

/* Блок2 */
.rog {
    margin-left: 85%;
    margin-top: -15%;
    width: 2em;
    height: 2em;
    border-radius: 25px 25px 25px 25px;
    background: green;
    -moz-border-radius: 6px 6px 6px 6px;
}
